aiofiles==24.1.0
deepface==0.0.93
fastapi==0.115.11
googlemaps==4.10.0
h2==4.2.0
ipykernel==6.29.5
jaraco.collections==5.1.0
moviepy==2.1.2
openai==1.65.2
pip-chill==1.0.3
pipreqs==0.5.0
pysocks==1.7.1
pytest==8.3.4
python-multipart==0.0.20
resemblyzer==0.1.4
retell-sdk==4.20.0
supabase==2.13.0
tf-keras==2.16.0
tinycss2==1.4.0
uvicorn==0.34.0
